<div data-name="@product.Name">
    Product @product.Name 
</div>


@code {
    private Product product = new Product()
    {
        Name = "Product 1",
        Description = "Description 1",
        TenantId = "TENANT1",
        Category = ["Software"],
        CurrencyValue = 1,
        CommercialValue = 100.00,
        ImageFile = "product1.jpg",
    };
}
