<div class="input-group mb-3">
    <input type="text" 
           class="form-control" 
           placeholder="Search Products..." 
           @bind-value="ProductFilter" 
           @bind-value:event="oninput" />

    <button class="btn btn-primary" 
            type="button" 
            id="button-search" 
            @onclick="HandleFiltering">Search</button>
</div>


@code {

    [Parameter]
    public string categorySelected { get; set; } = "";

    private string productFilter = "";

    [Parameter]
    public string ProductFilter
    {
        get => productFilter; set
        {
            productFilter = value;
        }
    }

    [Parameter]
    public EventCallback<string> FilterCallback { get; set; }

    private async void HandleFiltering()
    {       
        await FilterCallback.InvokeAsync(productFilter);
    }
}
