@page "/products"  

@using Microsoft.AspNetCore.Components.Forms

@rendermode InteractiveServer

@inject NavigationManager NavigationManager;

<h3>Product List</h3>

<ProductFilterList @rendermode="InteractiveServer" 
    CategorySelectedCallback="HandleCategorySelected" />

<ProductSearchBar 
    @rendermode="InteractiveServer"
    FilterCallback="HandleCategorySelected" /> 

<ProductList @rendermode="InteractiveServer" 
    categorySelected="@this.categorySelected" />

@code {
    
    [Parameter]
    public string? categorySelected { get; set; }

    private void HandleCategorySelected(string category)
    {
        this.categorySelected = category;
    } 
}
