@page "/products"  

@using Microsoft.AspNetCore.Components.Forms

@rendermode InteractiveServer

@inject NavigationManager NavigationManager;

<h3>Product List</h3>

<ProductFilterList @rendermode="InteractiveServer" 
    CategorySelectedCallback="HandleCategorySelected" />

<ProductSearchBar 
    SearchProductCallback="HandleSearchProduct" /> 

<ProductList @rendermode="InteractiveServer" 
    SearchFilter="@this.searchFilter"
    ProductCategory="@this.categorySelected" />

@code {
    private string categorySelected = "";

    private string searchFilter = "";

    private void HandleCategorySelected(string category)
    {
        this.categorySelected = category;
        this.searchFilter = string.Empty;
    } 

    private void HandleSearchProduct(string searchFilter)
    {
        this.searchFilter = searchFilter;
    }
}
